.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.done-message {
  width: 400px;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 5, .5);
}

.done-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.back-button {
  padding: 10px;
  background-color: #105EFF;
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #00438a;
}