body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.search{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search-button {
  padding: 8px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 飲食店リスト部分のスタイル */
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.restaurant-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.restaurant-name {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.restaurant-all{
  display: flex;
}

.restaurant-info {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.view-details-button {
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 8px 8px;
  background-color: #105EFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.favorite-icon {
  color: grey;
  cursor: pointer;
  margin-left: calc(50% - 25px);
  display: inline-block;
}

.favorite-icon.favorite {
  color: red;
}

.favorite-icon__btn {
  text-decoration: none;
}